PORT=2000
MONGO_URI="mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority"
ACCESS_TOKEN="<long-random-string>"

MAIL_TRANSPORT=gmail_api
MAIL_USER="you@gmail.com"
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
OAUTH_REFRESH_TOKEN=""

DICEBEAR_API="https://api.dicebear.com/9.x"
DICEBEAR_STYLE="avataaars"
DEFAULT_PROFILE_PIC="https://example.com/default_profile_avatar.png"

REDIS_URL=""
REDIS_CACHE_TTL_SECONDS=30
FRONTEND_ORIGINS="http://localhost:5173"
